body {
    background-color: #EDF2C5; /* 網頁背景顏色 */
    margin: 0;
}

.container {
    max-width: 1120px; /* 最大寬度 */
    margin: 0 auto; /* 居中 */
    padding: 0 20px; /* 邊距 */
}


header {
/* 邊距 */
    padding-left: 40px; 
    padding-right: 40px;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: space-between; /* 對齊 */
    height: 50px; /* 高 */
}

h1{
    font-size: 44px;
    font-weight: 900;
    line-height: 59.93px;
    text-align: left;
    font-family: Noto Sans;/* 字體 */
    color: #778A50;/* 字顏色 */
}

.social-buttons{
    display: flex;  /* 排列 */
    align-items: center;  /* 垂直對齊 */
    gap: 5px;  /* 圖標間距 */
}

.social-icon{
    width: 24px;  /* 寬 */
    height: 24px; /* 高 */
    margin-right: 5px; /* 間距 */
}

.vertical-line {
    border-left: 1px solid #778A50; /* 實線 */
    height: 24px;  /*高 */
    display: inline-block;
    vertical-align: middle; /* 垂直對齊 */
}


.login, .join {
    align-items: center; /* 按鈕居中 */
    padding: 4px 8px; /* 邊距 */
    border: 2px solid #778A50; /* 外邊框 */
    border-radius: 5px; /* 圓角 */
    text-decoration: none; /* 去掉文字底線 */
    color: #000000;/* 字顏色 */
    font-size: 14px; /* 字大小 */
    font-family: Noto Sans;/* 字體 */
    margin-left: 5px; /* 按鈕間距 */
}

.login:hover, .join:hover {
    background-color: #778A50; /* 懸停時背景顏色 */
    color: #F7FBDA; /* 懸停時字顏色 */
}


nav {
    flex: 1; /* 導航列空間 */
}

nav ul {
    height: 44px;
    list-style: none;
    display: flex;
    justify-content: flex-start; /* 按鈕置左 */
    gap: 40px;
    padding: 0; /* 邊距 */
    background-color: #778A50;
}

nav a {
    /*字至中*/
    text-decoration: none;
    line-height: 50px; 
    color:#EDF2C5; /* 字顏色 */
    font-family: Noto Sans;/* 字體 */
    font-size: 16px; /* 字大小 */
    margin-left: 26px; /* 按鈕間距 */
}

.main-image img {
    /* 設定圖片大小 */
    width: auto;
    height: auto;
    /* 設定圖片位置 */
    display: block;
    margin: auto;
}

.content {
    display: flex;
    justify-content: space-between; /* 網格設定 */
    margin-bottom: 100px; /* 間隔 */
}

.left-content, .right-content {
    flex: 1; /* 內容區塊佔用空間 */
    padding: 20px; /* 全邊距 */
    border-radius: 5px; /* 圓角 */
}

.content-title {
    width: 528px;/*寬*/
    height: 45px;/*高*/
    background-color: #778A50;
    line-height: 50px; 
    margin-bottom: 26px;
}

h2{
    padding: 0px 0px 0px 10px;/* 邊距 */
    font-size: 24px; /* 字大小 */
    font-family: Noto Sans;/* 字體 */
    color: #F7FBDA;/* 字顏色 */
}

.images {
    /* 網格 */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 14px;
}

.horizontal-line {
    /* 實線 */
    border-top: 1px solid #778A50; 
}


.content-Detal{
    width: 528px; /* 寬*/
    height: 140px; /*高*/
    background-color: #F7FBDA;
}

.content-text{
    padding: 5px 0px 0px 0px; /* 上邊距 */
    font-family: Noto Sans;/* 字體 */
    color: #7D7D7D;/* 字顏色 */
    font-size: 12px;/* 字大小 */
}

.email-text{
    font-family: Noto Sans;/* 字體 */
    color: #7D7D7D;/* 字顏色 */
    text-decoration-line: none;
}

footer {
    text-align: center;
    padding: 10px;/* 邊距 */
    background-color: #778A50; /* 頁尾背景顏色 */
}

.footer-text{
    font-family: Noto Sans;/* 字體 */
    color: #EDF2C5;/* 字顏色 */
    font-size: 12px;/* 字大小 */
}
